<div class="advert-summary-2">
    <span onclick="openWindowDetail('{{ path("advert_view", {'advertId': advert.id}) }}', '{{advert.title}}');" class="advert-summary-title">{{advert.title}}</span>
    <br>
    <span class="advert-summary-details">{{advert.createdAt|formated_date}} - {{advert.zipcode}} - {{advert.name}}</span>
    <br/><br/>
    <div class="advert-summary-content">
        {% if advert.photo %}
            <span class="advert-summary-image"><img src="{{ asset('photo') }}{{advert.photo.fileName}}" class="home-photo2"/></span>
        {% else %}
            <span class="advert-summary-image"><img src="{{ asset('public/css/images/photo.png') }}" class="home-photo2"/></span>
        {% endif %}
        {{advert.content|get_substring(500)}}
    </div>
</div>